#copyright{
	text-align: center;
}

#home{
	margin: -10px 0px 0px 0px;
	height: 40px;
	width: 40px;
}

.justify{
	text-align: justify;
}

.underline{
	text-decoration: underline;
}

#footer {
	width: 100%;
    border-width: 0 0 1px;
    background-color: #222;
    border-color: #080808;
	min-height: 100px;
    border: 1px solid transparent;
    margin-bottom: 0px !important;
    margin-right: 0px !important;
}

#footer-content {
	margin: auto;	
}

#footer p {
	margin: 0px;
	font-size: 10px;
}

.footer-titre {
	margin-top: 7px !important; 
}
